@import "vars";

.title {
  font-weight: 300;
  font-size: 24rem;
  color: var(--c-title);
  margin-bottom: 15rem;
  margin-top: 26rem;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  gap: 10rem;
}

.news-item {
  font-weight: 500;
  font-size: 12rem;
  box-shadow: 0 15px 25px 0 rgba(115, 78, 133, 0.15);
  background: linear-gradient(90deg, #25196b 0%, #d994a7 100%);
  border-radius: 15rem;
  padding: 20rem 30rem 22rem 20rem;
  &:nth-child(even) {
    background: linear-gradient(90deg, #25196b 0%, #94d9b4 100%);
  }
}
